<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>SAC</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="../static/logodark.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "8debe23c-d4ee-4ad4-b463-3c141ebc2c69", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "ef2f3bed-83be-45eb-a2d0-1d4e82d1096f", // The ID of your service instance.
      onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
      const t = document.createElement('script');
      t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
      document.head.appendChild(t);
    });
  </script>
  <link rel="stylesheet" href="../static/styles.3b30fab33b8614b8835a.css">
</head>

<body>
  <app-root></app-root>
  <script src="../static/runtime.80dd3e4e22abfac122fa.js" defer></script>
  <script src="../static/polyfills.8456b03b9e12a1d468e8.js" defer></script>
  <script src="../static/scripts.aee92bf339caf460c4b8.js" defer></script>
  <script src="../static/main.c2d648203ceb89d6d57f.js" defer></script>
  <script src="../static/2.ed4b4a712ae7c12b6036.js" defer></script>
  <script src="../static/6.25341dba42fc81fc35d9.js" defer></script>
  <script src="../static/7.767ea427b73cca56cf84.js" defer></script>
  <script src="../static/8.f1cc0ce70d1d7f14770c.js" defer></script>
  <script src="../static/9.04e334b8434b11c347c6.js" defer></script>
  <script src="../static/10.a684b63d9f02f59b9909.js" defer></script>

</body>

</html>